* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow: overlay !important;
  background-color: #0d1117 !important;
}

.main {
  background-color: #0d1117;
  min-height: 76vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  line-height: 1.4 !important;
}

.sectionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerImg {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#exampleInputEmail1 {
  background-color: #0d1117 !important;
}

.input {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
  border: 1px solid #30363d !important;
  outline: none;
  -webkit-box-shadow: #00000000;
          box-shadow: #00000000;
  padding: 5px 12px !important;
  line-height: 20px !important;
  font-size: 14px;
  border-radius: 6px;
}

.containerImg {
  margin-bottom: 24px;
}

.Img {
  margin-right: auto;
  margin-left: auto;
}

.h1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 16px;
}

.containerForm {
  background-color: #161b22;
  padding: 16px;
  border: 1px solid #21262d;
  border-radius: 6px;
  width: 308px;
  height: 220px;
  font-size: 1rem;
}

.containerLinkLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 16px;
  border-radius: 6px;
  border: 1px solid #30363d;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.span {
  color: #fff;
}

.linkLogin {
  margin: 5px;
  text-decoration: none;
  color: #58a6ff !important;
}

.label {
  color: #fff;
  font-size: 14px;
}

.form-label {
  color: #470a0a;
}

.buttonSignIn {
  background-color: #238636 !important;
  border: none !important;
  padding: 5px 16px !important;
  border-radius: 6px;
}

.buttonSignIn:hover {
  background-color: #238636 !important;
  border: none;
}

.footer {
  min-height: 24vh;
  background-color: #0d1117;
  padding-bottom: 10px;
}

.listaFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.itemListaFooter {
  border: none !important;
  padding: 0 !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  text-decoration: none;
  background-color: #0d1117 !important;
  margin-top: 31px !important;
  text-align: center;
}

.itemListaFooterSemMargem {
  margin-top: 31px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

.linkFooter {
  color: #58a6ff !important;
  text-decoration: none !important;
  font-size: 12px !important;
}

.colorCinza {
  color: #8b949e !important;
}

@media screen and (max-width: 767px) {
  .containerForm {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .containerForm {
    width: 283.83px;
  }
}

@media screen and (max-width: 314px) {
  .containerForm {
    width: 80vw;
  }
}
/*# sourceMappingURL=styles.module.css.map */